$primary: #3F94FF;
$blue-dark: #0071FF;
$blue-light: #8DC0FF;
$blue-very-light: #acd1ff;

$grey-extreme-light: #deedff;

$danger: #FF3F3F;
$danger-light: #FF603F;

$warning: #FFA73F;

$success-light: #34B2BB;

$success: #30C617;

$light-grey: #E9E9E9;
$grey: #696969;
$white: #fff;

$background: #FFF;

$text: #112950;
$text-white: #fff;